* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
}
#map {
    height: 100vh;
    width: 100vw;
}
.mapboxgl-popup-close-button {
    top: 5px;
    right: 5px;
    font-size: 18px;
    font-weight: bold;
    outline: none;
}
.mapboxgl-popup-content {
    background: rgba(255, 255, 255, .8);
}
.details {
    margin: 5px;
    padding: 5px;
    width: 200px;
    font-weight: bold;
}
.details img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    border: 0px solid black;
}
.name {
    text-align: center;
    margin-bottom: 10px;
}
.section:nth-of-type(1) {
    color: #1a2c3c;
}
.section:nth-of-type(2) h3 {
    color: red;
}
.section:nth-of-type(3) h3 {
    color: green;
}
.section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}
.open-stat {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    cursor: pointer;
} 
.open-stat p {
    letter-spacing: 1px;
    font-size: 18px;
}
.country-stat {
    position: absolute;
    top: 50%;
    left: 10%;
    height: 70%;
    width: 300px;
    background:rgba(34, 34, 34, 0.8);
    color: white;
    padding: 30px;
    overflow-y: auto;
    opacity: 0;
    z-index: -100;
}
.a {
    animation: anime 1s ease-in forwards;
}
.country-stat .show-countries {
    background: #333;
}
.show-countries img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
}
.show-countries .detail {
    display: flex;
    align-items: center;
    margin: 10px;
    cursor: pointer;
}
.show-countries .detail * {
    pointer-events: none;
}
.show-countries .data {
    flex:1 0 0;
    margin-left: 20px;
}
.fa-times {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
}
.state {
    position: absolute;
    top:15%;
    height: 70%;
    overflow-y: scroll;
    left: 450px;
    color: white;
    z-index: 15;
    padding: 20px;
    background: #222;
    width: 200px;
    opacity: 0;
    z-index: -10;
}
.state-title {
    margin-bottom: 20px;
}
.state-detail {
    border-top: 1px solid #333;
    margin: 10px 0;
    padding: 10px 0;
}
.state-data p:nth-of-type(1) {
    color: orangered;
}
.state-data p:nth-of-type(2) {
    color: forestgreen;
}
.state-data p:nth-of-type(3) {
    color: coral;
}
::-webkit-scrollbar {
    display: none;
}
scrollbar {
    display: none;
}
.b {
    animation: anime2 1s ease-in forwards;
}
@keyframes anime {
    0% {
        transform: translateY(-100%);
        opacity: 0;
        z-index: 1;
    }
    100% {
        transform: translate(-10%,-50%);
        opacity: 1;
        z-index: 1;
    }
}
@keyframes anime2 {
    0% {
        transform: translateY(-100%);
        opacity: 0;
        z-index: 1;
    }
    100% {
        transform: none;
        opacity: 1;
        z-index: 1;
    }
}
.color-detail {
    position: fixed;
    top: 10px;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
}
.color {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box {
    height: 10px;
    width: 10px;
    border: 1px solid white;
}
.how-use {
    position: fixed;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 12;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tips {
    position: relative;
    background: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    max-width: 400px;
    z-index: 100000;
}
.tips h2 {
    text-align: center;
    margin-bottom: 20px;
}
.cross {
    position: absolute;
    top: 15px;
    right: 15px;
}
.tips p {
    margin-bottom: 5px;
}
.go {
    z-index: -100;
    opacity: 0;
}
.social-media {
    position: absolute;
    left: 20px;
    color: white;
    z-index: 100;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 5px;
}
.social-media a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.howtoa {
    position: absolute;
    top: 20px;
    right: 20px;
    background: black;
    padding: 10px;
    border-radius: 5px;
}
.howtoa a {
    text-decoration: none;
    color: white;
}
.loader {
    position: fixed;
    z-index: 10000000;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.load {
    height: 70px;
    width: 70px;
    border: 10px solid #eee;
    border-radius: 50%;
    border-top: 10px solid red;
}
.rotate {
    animation: rotate 1s ease-in infinite;
}
.goaway {
    z-index: -100;
    opacity: 0;
}
@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(359deg);
    }
}

@media(min-width:680px) {
    .color-detail {
        right: 20px;
        top: 70px;
    }
    .country-stat {
        transform: translate(-10%,-50%);
    }
    .social-media {
        top: 150px;
    }
}
@media(max-width:679px){
    body {
        overflow: hidden;
    }
    .color-detail {
        left:  140px;
    }
    #map {
        height: 150vmax;
        width: 100vmax;
    }
    .country-stat {
        left: 20%;
        height: 50%;
    }
    .state {
        left: 30%;
        top: 30%;
        height: 50%;
        width: 250px;
    }
    .how-use .tips{
        transform: scale(0.4);
        font-size: 15px;
        position: absolute;
        top: 30%;
        transform: translate(-30%,-30%);
    }
    .load {
        position: fixed;
        top: 28%;
        left: 28%;
        transform: translate(-28%,-28%);
    }
    .loader p {
        position: fixed;
        top: 35%;
        left: 30%;
        transform: translate(-30%,-35%);
    }
    .social-media {
        flex-direction: row;
        bottom: 10px;
    }
    .social-media a {
        margin: 0 5px;
    }
    .color-detail {
        transform: scale(0.8);
    }
    .open-stat {
        transform: scale(0.8);
    }
}
@media(max-height:360px) {
    #map {
        height: 270vmax;
    }
}
@media(max-width:230px) {
    #map {
        height: 300vmax;
        width: 350vmin;
    }
}